@charset "utf-8";

#logo {
width: 400px;
height: 200px;
}

body {
 background-color: green;
}

#sfondoDue {
 background-color: grey;
}

#container {
 background-color: grey;
}

.campi {
    width: 470px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.caselle {
    width: 480px;
}

#casellabutton {
    width: 480px;
    background-color: green;
    font-family: Arial;
    font-size: 20px;
}

#tabella {
border: 3px solid black;
margin-right: auto;
margin-left: auto;
margin-top: 150px;
padding: 10px;
}

#nav {
background-color: grey;
}

#title {
text-align: center;
font-family: Arial;
}

#botto {
text-align: center;
}

#saldo {
text-align: center;
}

.riga {
font-weight: bold;
font-family: Arial;
}